.product {
  width: 300px;
  height: 500px;
  border: 2px solid rgba(62, 106, 238, 0.773);
  border-radius: 10px;
  margin: 20px 10px 20px 10px;
  padding: 40px 20px 20px 20px;
  background-color: rgb(210, 218, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product img {
  width: 80%;
  height: 30%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.773);
  margin-bottom: 10px;
}

.product .price-style {
  margin: 20px;
  font-weight: 700;
  font-size: 20px;
}

.product .product-info {
  margin-top: 20px;
}

.product .product-info h3 {
  margin: 10px;
}

.list-class {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.searchButton {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(62, 106, 238, 0.773);
    background-color: rgb(255, 93, 197);
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}