* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    /* background: rgb(94, 150, 131); */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    /* background: url(szambiarze.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
}

main {
    /* margin-top: 80px;
    padding-top: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main h1 {
    color: white;
    font-size: 40px;
    line-height: 100px;
}
