* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background-size: cover;
    background-position: center;
}

main {
    margin: 100px auto 200px auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    background: white;
    box-shadow: 6px 6px 20px gray;
    border-radius: 4px;
}

article {
    padding: 10% 10% 10% 10%;
}

article h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

article p {
    font-size: 20px;
    margin-bottom: 30px;
}

article h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 40px;
}

article h3 {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

article ul {
    padding-left: 30px;
    color: orangered;
}

article ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

span {
    color: #0f2027;
}

.highlight {
    color: orangered;
    font-weight: 700;
}

article ul li ul {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: square;
}

@media (width <840px) {
    main {
        width: 96vw;
    }

    article h1 {
        font-size: 30px;
    }

    article p {
        font-size: 10px;
    }

    article h2 {
        font-size: 14px;
    }

    article h3 {
        font-size: 10px;
    }

    article ul {
        padding-left: 15px;
    }

    article ul li {
        font-size: 14px;
    }
}
