* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    background-size: cover;
    background-position: center;
}

main {
    /* margin-top: 80px; */
    margin: 100px auto 100px auto;
    width: 80vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: white;
    box-shadow: 6px 6px 20px gray;
    border-radius: 4px;
}

article {
    width: 80vw;
    padding: 10% 10% 10% 10%;
}

article h1 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

article p {
    font-size: 18px;
    margin-bottom: 30px;
}

article h3 {
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.video {
    width: 100%;
    height: 600px;
}

article ul {
    padding-left: 30px;
    color: orangered;
}

@media (width <840px) {
    main {
        width: 96vw;
    }

    .video {
        width: 100%;
        height: 300px;
    }

    article {
        width: 100%;
        padding: 10% 5% 10% 5%;
    }

    article h1 {
        font-size: 30px;
    }

    article p {
        font-size: 15px;
    }
}
